In [1]:
%load_ext sql

In [2]:
%sql sqlite:///library.db

Connecting to 'sqlite:///library.db'

In [5]:
%%sql
CREATE TABLE Catalog(
	item_id INTEGER PRIMARY KEY AUTOINCREMENT,
	item_type TEXT,
	title TEXT,
	publication_date DATE,
	author_or_artist TEXT,
	publisher TEXT
)

Running query in 'sqlite:///library.db'

++
||
++
++

In [6]:
%sql SELECT * FROM Catalog

Running query in 'sqlite:///library.db'

+---------+-----------+-------+------------------+------------------+-----------+
| item_id | item_type | title | publication_date | author_or_artist | publisher |
+---------+-----------+-------+------------------+------------------+-----------+
+---------+-----------+-------+------------------+------------------+-----------+

In [9]:
%%sql
CREATE TABLE User(
	user_id INTEGER PRIMARY KEY AUTOINCREMENT,
	first_name TEXT,
	last_name TEXT,
	date_of_birth DATE,
	address TEXT,
	phone_number TEXT,
	date_joined DATE,
	total_charge INTEGER
)

Running query in 'sqlite:///library.db'

++
||
++
++

In [10]:
%sql select * from user;

Running query in 'sqlite:///library.db'

+---------+------------+-----------+---------------+---------+--------------+-------------+--------------+
| user_id | first_name | last_name | date_of_birth | address | phone_number | date_joined | total_charge |
+---------+------------+-----------+---------------+---------+--------------+-------------+--------------+
+---------+------------+-----------+---------------+---------+--------------+-------------+--------------+

In [13]:
%%sql
CREATE TABLE Loan(
	loan_id INTEGER PRIMARY KEY AUTOINCREMENT,
    record_id INTEGER,
	user_id INTEGER,
	loan_date DATE,
	due_date DATE,
	return_date DATE,
	fine_charged INTEGER,
    FOREIGN KEY (record_id) REFERENCES Record(record_id) ON UPDATE CASCADE,
	FOREIGN KEY (user_id) REFERENCES User(user_id) ON UPDATE CASCADE
)

Running query in 'sqlite:///library.db'

++
||
++
++

In [15]:
%%sql
CREATE TABLE Event(
	event_id INTEGER PRIMARY KEY AUTOINCREMENT,
	event_name TEXT,
	event_type TEXT,
	event_location TEXT, -- Composite Attribute?
	age_range TEXT,
	event_time DATE
)

Running query in 'sqlite:///library.db'

++
||
++
++

In [17]:
%%sql
CREATE TABLE Employee(
	employee_id INTEGER PRIMARY KEY AUTOINCREMENT,
	employee_name TEXT,
	employee_dob DATE,
	phone_number TEXT,
	address TEXT,
	employement_date DATE,
	salary DOUBLE
)

Running query in 'sqlite:///library.db'

++
||
++
++

In [19]:
%%sql
CREATE TABLE Record(
	record_id INTEGER PRIMARY KEY AUTOINCREMENT,
    item_id INTEGER,
	status TEXT,
    notes TEXT,
    FOREIGN KEY (item_id) REFERENCES Catalog(item_id) ON UPDATE CASCADE
)

Running query in 'sqlite:///library.db'

++
||
++
++